.dropdown-menu.text-select
  height 
  overflow-y auto
  overflow-x hidden
  max-height 200px
  width: 100%

.t-select-create
  background-color $brand-primary
  a
    color #fff !important
    fill #fff !important
  a:focus, a:hover
    background-color darken($brand-primary, 10) !important
    color #fff !important
