.t-item 
  display block
  position relative
  -webkit-user-select none
  user-select none
  cursor pointer
  height 36px
  padding 0 12px
  color $text-color-5
  fill $text-color-5
  cursor pointer
  text-decoration none !important
  color $text-color-5
  .t-ripple 
    position absolute
    top 0
    left 0
    bottom 0
    right 0
  .icon 
    margin-right 8px
  &.core-selected
    color $accent-color-1
    fill $accent-color-1
    a
      color $accent-color-1
      fill $accent-color-1
    t-icon
      fill $accent-color-1
