<index: element="t-item">

<a href="{{href || '#'}}" data-key="{{if value}}{{value}}{{/if}}" class="t-item{{if selected}} core-selected{{/if}}{{if center}} center{{/if}}{{if horizontal}}horizontal{{/if}}{{if layout}}layout{{/if}}" on-click="clickAction($event, $element)" on-dblclick="dblClickAction($event, $element)" on-mousedown="downAction($event, $element)" on-mouseup="upAction($event, $element)" on-focus="focusAction($event, $element)" on-blur="blurAction($event, $element)" on-contextmenu="contextMenuAction($event, $element)" >

  <t-ripple as="ripple" circle="{{circle}}" borderRadius="{{borderRadius}}"></t-ripple>

  {{if icon}}
    <t-icon class="icon" src="{{src}}" icon="{{icon}}"></t-icon>
  {{/if}}
  
  {{label}}
</a>
