<index: arrays="action/actions" attributes="title footer" element="t-dialog">
  <div class="modal fade{{if faded}} in{{/if}}" style="{{if show}}display: block{{/if}}">
    <div on-click="hide('backdrop')" class="modal-backdrop fade{{if faded}} in{{/if}}"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button on-click="hide('close')" type="button" class="close" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{@title}}</h4>
        </div>
        <div class="modal-body">
          {{@content}}
        </div>
        <div class="modal-footer">
          {{@footer}}
          {{each @actions as #a}}
            {{if #a.affirm}}
              <button
                on-click="affirm(#a.value || #a.content)"
                type="button"
                class="btn {{#a.class || 'btn-success'}}">
                {{#a.content}}
              </button>
            {{else}}
              <button
                on-click="hide(#a.value || #a.content)"
                type="button"
                class="btn {{#a.class || 'btn-link'}}">
                {{#a.content}}
              </button>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
